/*
Theme Name: Salient Child Theme
Theme URI: http: //mysite.com/
Description: This is a custom child theme for Salient
Author: My Name
Author URI: http: //mysite.com/
Template: salient
Version: 0.1
*/

@import url("../salient/style.css");
div#header-space {
  height: 160px!important;
}
div#header-outer {
  padding-top: 0px!important;
}
.col-lg-6ami.well {
  padding: 4%!important;
  margin: 1%!important;
  border: 1px solid #D7D7D7!important;
  border-radius: 5px!important;
}
textarea.wpcf7-form-control.wpcf7-textarea.wpcf7-validates-as-required.consellform {
  height: 49px;
}
.consellform, .consellform123 ,.consellform1234  {
  height: 0px!important;
  border-radius: 4px!important;
}
.consellform123 {
  float: left;
  width: 45%;
  height: 36px!important;
}
.consellform1234 {
  float: left!important;
  width: 46%!important;
  margin-left: 9%!important;
}
.col-lg-6ami select.wpcf7-form-control.wpcf7-select.wpcf7-validates-as-required {
  border: 1px solid #CDCDCD !important;
  margin-bottom: 8px !important;
}
.col-lg-6ami p {
  padding-bottom: 10px!important;
}
.Testiomonial_ami {
  margin-top: 1%;
}
textarea.addres_ami {
  height: 35px !important;
  min-width: 423px!important;
}
.ami_input2 {
  padding: 1% !important;
}
li.vfb-item.vfb-item-secret {
  display: none !important;
}
.visual-form-builder.left-label .vfb-desc, .visual-form-builder.right-label .vfb-desc {
  width: 75%!important;
  color: #525151 !important;
  font-size: 89%;
  font-weight: normal;
}
input.wpcf7-form-control.wpcf7-submit.Accent-ColorAmi {
  width: 100%;
  border-radius: 7px !important;
  background-color: #7FBA12;
  font-size: 20px;
}
input#vfb-5 , input#vfb-6 , input#vfb-7 ,input#vfb-8 ,input#vfb-9 ,input#vfb-11,input#vfb-13 ,input#vfb-15 ,select#vfb-16 ,select#vfb-19 ,select#vfb-21 ,select#vfb-21 ,select#vfb-21 ,select#vfb-22 ,select#vfb-23 ,select#vfb-24 ,select#vfb-25  ,input#vfb-26 {
  padding: 4px 4px 4px 10px !important;
}
input#vfb-4 {
  width: 100%;
  border-radius: 7px !important;
  background-color: #7FBA12;
  font-size: 20px;
}
fieldset#item-vfb-2 {
  border: none;
}
fieldset#item-vfb-2 .vfb-legend {
    display: none;
}